/* home.scss */

.home {
    /* Add styles for the home container */
    background-color: white; /* Example background color */
    padding: 10px; /* Example padding */
    font-size: 18px; /* Example font size */
    text-align: left ; /* Example text alignment */
  }
  